.Header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background: none;
}
.ArrowsSearchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#ArrowsSearchDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FixedTopBar {
  display: flex;
  justify-content: space-between;
  width: 600px;
  height: 200px;
  background-color: 'red';
}

.ContentTitle {
  display: flex;
  align-items: flex-end;
  background: linear-gradient(180deg, #333333 0%, #171717 90.69%, #171717 100%);
  font-size: 42px;
  font-weight: bolder;
  color: #fff;
  padding: 20px 20px;
  height: 200px;
}
