.Container {
  background: #171717;
  width: 100%;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  flex: 1;
  user-select: none;
}
.ContentTitle {
  display: flex;
  align-items: flex-end;
  background: linear-gradient(180deg, #333333 0%, #171717 90.69%, #171717 100%);
  font-size: 42px;
  font-weight: bolder;
  color: #fff;
  padding: 20px 20px;
  height: 200px;
}
.Header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background: none;
}

.FixedTopBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  padding: 20px;
}

.ArrowsSearchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchBar {
  background: #fff;
  margin-left: 30px;
  border-radius: 30px;
  border: 0;
  height: 30px;
  padding: 0px 4px;
}

.SeachBarInput {
  border: 0;
  color: #000;
  font-size: 16px;
  background: none;
  margin-left: 10px;
}

#ArrowsSearchDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.ContentBody {
  height: 10px;
}

.Category {
  padding: 20px;
}

.CategoryItens {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: auto;
  width: auto;
  padding: 15px 0px;
  margin-left: 20px;
}

.CategoryTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: #fff;
  border-bottom: 1px solid #2c2b2b;
}
