.CategoryContainer {
  background: rgb(60, 48, 63);
  border-radius: 10px;
  width: 290px;
  overflow: unset;
  padding: 1.5rem;
  margin: 10px;
}
.CategoryContainer:hover {
  background: rgb(65, 53, 68);
  cursor: pointer;
}
.CategoryContainer:hover .playContent {
  opacity: 1;
  cursor: pointer;
}

.cl {
  height: 15rem;
  width: 15rem;
  border-radius: 10px;
  margin-bottom: 10px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardContent {
  padding: 0.4rem 0.4rem;
  margin-bottom: -20%;
}

.playContent {
  width: 50px;
  height: 50px;
  opacity: 0;
  border-radius: 50%;
  overflow: unset;
  display: flex;
  background: #874180;
  position: relative;
  justify-content: center;
  left: 190px;
  bottom: 40px;
}
.playClic {
  margin: auto;
}
.playHover {
  opacity: 0;
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


 @-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
