.album {
  margin: 50px;
}

.__header {
  display: flex;
  margin: 20px;
}
.image {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.info {
  margin-left: 20px;
}

.h1 {
  font-size: 35px;
}

.__songs {
  margin-top: 40px;
}
